spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create

logging:
  level:
    root: warn
    org:
      springframework:
        security: DEBUG
      hibernate:
        SQL: DEBUG
        orm:
          jdbc:
            bind: TRACE

app:
  web:
    url: http://localhost:8080
